#snake-field {
    display: inline-block;
}

#snake-renew,#snake-start, #snake-pause {
    width: 145px;
    padding: 15px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    float: left;
}

#snake-start, #snake-pause {
    margin-right: 10px;
}

#snake-pause {
    background-color: grey;
}

.game-table{
    border-collapse: collapse;
    background-color: #3e3e3e;
}

td.game-table-cell {
    width: 15px;
    height: 15px;
    border: 1px dotted #eee;
}

.snake-unit {
    background-color: white;
}

.food-unit {
    background-color: red;
}

.block-unit {
    background-color: blue;
}

.buttons {
    display: inline-block;
}

.wrap {
    margin: 30px auto 0;
    text-align: center;
}

.paused {
    animation: shake 3.82s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}